@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins:wght@800&family=Work+Sans:ital,wght@0,800;0,900;1,800;1,900&display=swap');

:root {
    color-scheme: light only;
    /* cores botoes */
    --azul-escuro: #143d59;
    --ciano: #22e2e2;
    --ciano2: #66d0d8;
    /* cores classificacao */
    --verde: #3cb371;
    --branco: #fff;
    --vermelho: #dc746a;
}

html {
    background-image: radial-gradient(#ccc, #fff);
    background-repeat: no-repeat;
}

body {
    min-height: 100vh;
    margin: 0;
    position: relative;
    display: block;
    font-family: Poppins, sans-serif;
    background-image: url('images/bg-trans.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

#topo {
    display: grid;
    width: 100%;
    height: 12vh;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

#logo-uniscore {
    height: 60%;
    margin: auto;
}

#conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    flex-grow: 1;
}

footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: end;
    justify-content: center;
}

#tabela-ranking {
    display: block;
    margin: auto;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
    border: none;
    border: 1px solid transparent;
    border-collapse: separate;
    border-spacing: 0 2px;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}


#logo-uninassau {
    height: 25%;
    margin-bottom: 10px;
}

.botao {
    width: 100px;
    height: 35px;
    margin: 10px auto 20px auto;
    border: none;
    padding: 5px 10px;
    border-radius: 2px;
    background-color: var(--azul-escuro);
    color: var(--ciano);
    font-size: 14px;
    width: 170px;
    transition: all 0.1s;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

.botao:hover {
    transform: scale(1.02);
    cursor: pointer;
}

td .nome-equipe {
    text-align: left;
}

td.pontos {
    text-align: center;
}

.verde,
.vermelha,
.branca {
    font-weight: 900;
    border: none;
}

.verde {
    background-color: var(--azul-escuro);
    color: var(--verde);
}

.branca {
    background-color: var(--azul-escuro);
    color: var(--branco);
}

.vermelha {
    background-color: var(--azul-escuro);
    color: var(--vermelho);
}

td {
    padding: 1px 29px;
}

thead {
    background-color: var(--azul-escuro);
    color: var(--ciano2);
    ;
    border-radius: 4px 4px 0 0;
}

thead:nth-child(1) {
    font-style: italic;
    font-weight: 200;
}

.equipes {
    text-align: start;
    padding: 0 14px;
    /* border-radius: 4px 0 0 4px; */
}

.pontos-azul-marinho {
    background-color: var(--ciano);
    color: var(--azul-escuro);
}

.nome-equipe-branco {
    background-color: var(--branco);
    color: #000;
}

/* Aplicar padding menor às células da coluna "Posição" */
td:nth-child(1) {
    padding: 0 11px;
}

/* Aplicar padding menor às células da coluna "Pontos" */
td:nth-child(3) {
    padding: 0 11px;
}

td:nth-child(2) {
    text-align: start;
    padding: 0 15px;
    width: 250px;
    color: var(--azul-escuro);
}

/* @media screen and (max-width: 768px) {
    body {
        background-image: url('./images/tela_login_projeto.png');
    }
} */